:root {
    --dark: #3c3c3c;
    --purple: #945d60;
    --green: #626E60;
    --red: #AF473C;

}

.header {
    width: 100%;
    position: relative;
    padding: 0.5em;

}

.nav_menu_div {
    display: none;
}

.nav_svg {
    display: none;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_svg {
    position: absolute;
    top: 35px;
    left: 0;
    /* display: none; */
}

.nav_search_div {
    width: 20%;
}

.nav_search {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    background: var(--purple);
}

.nav_search::placeholder {
    color: wheat;
}

.nav_select_div {
    width: 50%;
}

.nav_select_div select {
    width: 100%;
}

.nav_ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 80%;
    text-align: center;

    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;

}

.nav_ul li {
    list-style: none;
}

.nav_ul li a {
    text-decoration: none;
    color: var(--dark);
    transition: 1.2s all;
    border-bottom: 4px solid transparent;

}

.nav_ul li:hover a {
    border-bottom-color: var(--red);
    border-width: 100%;
    transform: scale(1.2);
    color: black;
}

/* ------Burger BTN */
.burger_container div {
    padding: 0.2em 1.2em;
    background: rgb(31, 26, 27);
    margin: 3px 0;
    border-radius: 2px;
}

.burger_container {
    cursor: pointer;
    z-index: 15;
}

/* Burger Menu--------- */
.burger_menu {
    width: 100%;
    position: fixed;
    height: 100vh;

    background: var(--dark);
    top: 0;
    left: 0;
    transition: all 2s;
    transform: translateX(100%);
    z-index: 10;

}

.moving_menu {
    transform: translateX(0%);
    background: var(--purple);
}