:root {
    --dark: #3c3c3c;
    --purple: #945d60;
    --green: #008080;
    --red: #AF473C;

}

@keyframes logo {
    0% {
        text-shadow: 0 0 3px rgb(255, 255, 255);
    }

    20% {
        text-shadow: 0 0 5px pink;

    }

    40% {
        text-shadow: 3px 0 6px yellow;

    }

    60% {
        text-shadow: 0 0px 8px rgb(217, 0, 255);

    }

    80% {
        text-shadow: 1px 0 3px white;

    }
}

.header {
    width: 100%;
    padding: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 5;
}

.nav_menu_div {
    display: none;
    padding-top: 0.8em;
}

.logo {
    margin: 1em;
    letter-spacing: 7px;
    font-weight: 700;
    font-size: 2rem;
    animation: logo 9s infinite;
}


.nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_svg {
    display: none;
    position: absolute;
    top: -1px;
    left: 0;
}

.nav_input_div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.nav_search,
.nav_select,
.nav_shows_select {
    margin: 5px;
    padding: 0.5em;
    border-radius: 10px;
    background: var(--purple);
}

.nav_search::placeholder {
    color: wheat;
}



.nav_select::-webkit-scrollbar,
.nav_shows_select::-webkit-scrollbar {
    background-color: var(--red);

}

.nav_select::-webkit-scrollbar-thumb,
.nav_shows_select::-webkit-scrollbar-thumb {
    border-radius: 50%;
    background-color: black;
    z-index: 27;
}





.nav_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;

    font-size: 2.2rem;

    cursor: pointer;

}

.nav_ul li {
    list-style: none;
    margin: 0 5px;
}

.nav_link {
    text-decoration: none;
    color: rgb(38, 36, 41);
    transition: 1.2s all;
    margin: 0 5px;
    border-bottom: 4px solid transparent;
    font-weight: 900;

}

.nav_ul li:hover .nav_link {
    border-bottom-color: var(--red);
    border-width: 100%;
    transform: scale(1.2);
    color: black;

}

/* ------Burger BTN */
.burger_container div {
    padding: 0.2em 1.2em;
    background: var(--red);
    margin: 3px 0;
    border-radius: 2px;
}

.burger_container {
    cursor: pointer;
    z-index: 15;
}

/* Burger Menu--------- */
.burger_menu {
    width: 100%;
    position: fixed;
    height: 100vh;

    background: var(--dark);
    top: 0;
    left: 0;
    transition: all 2s;
    transform: translateX(100%);
    z-index: 10;

}

.moving_menu {
    transform: translateX(0%);
    background: var(--purple);
}

/*   Media Queries-----------------------  */
/* ========================================= */

@media screen and (min-width:500px) {
    .header {
        background: var(--green);
        position: static;
    }

    .nav_input_div {
        width: 30%;
    }


    .burger_container,
    .burger_menu {
        display: none;
    }

    .nav_menu_div {
        display: block;

    }

    .nav_menu_div ul {
        flex-direction: row;
        font-size: 1.3rem;
    }



    .nav_svg {
        display: block;

    }
}


/*   Media Queries-----------------------  */
/* ========================================= */
@media screen and (min-width:800px) {
    .nav_link {
        font-size: 1.5rem;
    }
}